#suggestions {
  background: rgb(9, 0, 32);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 30px;
}
#suggestions h1 {
  color: #fff;
  width: 30%;
  text-align: center;
  font-size: 60px;
}
#suggestions .sugest-items {
  width: 70%;
  display: flex;
  justify-content: center;
}
#suggestions .sugest-items .suggest-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  position: relative;
  background: rgb(255, 255, 255);
  margin: 40px 20px;
  border-radius: 3%;
  -webkit-border-radius: 3%;
  -moz-border-radius: 3%;
  -ms-border-radius: 3%;
  -o-border-radius: 3%;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
#suggestions .sugest-items .suggest-item:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
#suggestions .sugest-items .suggest-item span {
  background: red;
  color: white;
  padding: 3px 6px;
  border-radius: 15%;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
  position: absolute;
  top: 20px;
  right: 20px;
}
#suggestions .sugest-items .suggest-item img {
  width: 100%;
  border-radius: 5%;
}
#suggestions .sugest-items .suggest-item .title-lastPrice {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}
#suggestions .sugest-items .suggest-item .title-lastPrice p {
  text-decoration: line-through !important;
  color: red;
}
