#mostPopular {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px dashed rgb(116, 116, 116);
  margin: 30px 80px;
}
#mostPopular .populars {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#mostPopular .populars .populars-item {
  width: 33%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-left: 7px dashed rgb(116, 116, 116);
}

#mostPopular .populars .populars-item img {
  width: 100%;

  padding: 10px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
#mostPopular .populars .populars-item img:hover {
  transform: scale(1.06);
  -webkit-transform: scale(1.06);
  -moz-transform: scale(1.06);
  -ms-transform: scale(1.06);
  -o-transform: scale(1.06);
}
#mostPopular .populars .populars-item .statistics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
#mostPopular .populars .populars-item .statistics .statistics-veiw,
#mostPopular .populars .populars-item .statistics .statistics-like {
  display: flex;
  align-items: center;
}
#mostPopular .populars .populars-item .statistics .statistics-like p,
#mostPopular .populars .populars-item .statistics .statistics-veiw p {
  margin-left: 10px;
}
#mostPopular .populars .populars-item .statistics .statistics-veiw span {
  color: blue;
  font-size: 20px;
}
#mostPopular .populars .populars-item .statistics .statistics-like span {
  color: rgb(255, 0, 0);
  font-size: 20px;
}
#mostPopular .populars-title {
  width: 30%;
}
#mostPopular .populars-title h1 {
  color: red;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
/* --------------------responsive-------------------- */
@media screen and (max-width: 1200px) {
  #mostPopular {
    border: 8px dashed rgb(116, 116, 116);
  }
  #mostPopular .populars .populars-item .statistics {
    flex-direction: column;
  }
  #mostPopular .populars .populars-item .statistics .statistics-like p,
  #mostPopular .populars .populars-item .statistics .statistics-veiw p {
    font-size: 13px;
  }
  #mostPopular .populars-title h1 {
    font-size: 20px;
  }
  #mostPopular .populars .populars-item {
    border-left: 5px dashed rgb(116, 116, 116);
  }
}
@media screen and (max-width: 992px) {
  #mostPopular {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin: 10px 20px;
    border: 7px dashed rgb(116, 116, 116);
  }
  #mostPopular .populars {
    width: 100%;
  }
  #mostPopular .populars-title {
    width: 100%;
    border-bottom: 3px dashed rgb(116, 116, 116);
  }
  #mostPopular .populars .populars-item {
    border-left: none;
  }
  #mostPopular .populars .populars-item.seccendChilde {
    border-left: 3px dashed rgb(116, 116, 116);
    border-right: 3px dashed rgb(116, 116, 116);
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 567px) {
  #mostPopular {
    margin: 5px 5px;
  }
  #mostPopular .populars-title h1 {
    font-size: 30px;
    margin: 20px 0;
  }
  #mostPopular .populars {
    flex-wrap: wrap;
    padding: 10px;
  }
  #mostPopular .populars .populars-item {
    width: 50%;
  }
  #mostPopular .populars .populars-item.seccendChilde {
    border: none;
  }
}
@media screen and (max-width: 400px) {
  #mostPopular .populars {
    flex-wrap: wrap;
  }
  #mostPopular .populars .populars-item {
    width: 100%;
  }
  #mostPopular .populars .populars-item.seccendChilde {
    border-top: 3px dashed rgb(116, 116, 116);
    border-bottom: 3px dashed rgb(116, 116, 116);
  }
}
