header {
  background: black;
  width: 100%;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.navbar .menu ul {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.navbar .menu ul li {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 8px 0px 8px 40px;
  cursor: pointer;
  position: relative;
}
.navbar .menu ul li:hover a {
  color: #c00;
}
.navbar .menu ul li a {
  color: #fff;
  font-size: 15px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s e;
  -moz-transition: all 0.4s e;
  -ms-transition: all 0.4s e;
  -o-transition: all 0.4s e;
}
.navbar .menu ul li span {
  font-size: 25px;
  color: #fff;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s e;
  -moz-transition: all 0.4s e;
  -ms-transition: all 0.4s e;
  -o-transition: all 0.4s e;
}
.navbar .menu ul li:hover span {
  color: #c00;
}
.navbar .social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  /* padding: 20px 0; */
}
.navbar .social ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .social ul li {
  padding: 20px 0;
}
.navbar .social ul li ul {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.575);
  width: 150px;
  top: 60px;
  transform: translateX(40%);
  -webkit-transform: translateX(40%);
  -moz-transform: translateX(40%);
  -ms-transform: translateX(40%);
  -o-transform: translateX(40%);
  display: none;
  z-index: 1000;
}
.navbar .social ul li:hover ul {
  display: flex;
}
.navbar .social ul li ul h1 {
  color: #fff;
}
.navbar .social ul li ul li a {
  font-size: 18px;
  height: 100%;
}
.navbar .social ul a {
  font-size: 25px;
  color: #fff;
  margin: 8px 5px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s e;
  -moz-transition: all 0.4s e;
  -ms-transition: all 0.4s e;
  -o-transition: all 0.4s e;
}
.navbar .social ul a:hover {
  color: #c00;
}
.navbar .social button {
  color: #fff;
  background-color: #c00;
  padding: 10px;
  margin-right: 30px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s e;
  -moz-transition: all 0.4s e;
  -ms-transition: all 0.4s e;
  -o-transition: all 0.4s e;
}
.navbar .social button:hover {
  background-color: red;
}
.navbar .menu ul li .mega-menu {
  position: absolute;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-color: rgba(0, 0, 0);
  top: 70px;
  right: -85px;
  z-index: 1000;
  display: flex;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.navbar .menu ul li:hover .mega-menu {
  height: 280px;
  opacity: 1;
}
.navbar .menu ul li .mega-menu li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 22vw;
  margin: 5px auto !important;
}
.navbar .menu ul li .mega-menu li h2 {
  border-bottom: 2px solid #252525;
  width: 90%;
  text-align: center;
  color: #c00;
}
.navbar .menu ul li .mega-menu li ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}
.navbar .menu ul li .mega-menu li ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-in-out;
}

.navbar .menu ul li .mega-menu li ul li:hover {
  color: red;
}
.navbar .menu ul li .mega-menu li img {
  width: 280px;
  height: 280px;
  padding: 5px 10px;
}
.navbar .hamberger {
  color: #fff;
  position: relative;
  right: 20px;
  font-size: 35px;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  display: none;
}
.navbar .hamberger:hover {
  color: #c00;
}
/* ----------responsive----------------- */
@media screen and (max-width: 1200px) {
  .navbar .menu ul li a {
    font-size: 12px;
  }
  .navbar .menu ul li span {
    font-size: 20px;
  }
  .navbar .social ul a {
    font-size: 20px;
  }
  .navbar .social button {
    padding: 5px;
    font-size: 10px;
  }
}
@media screen and (max-width: 992px) {
  .navbar .menu {
    display: none;
  }
  .navbar .hamberger {
    display: flex;
  }
  .navbar .social {
    width: 40%;
  }
  .navbar .social button {
    display: none;
  }
  .navbar .social ul {
    width: 100%;
  }

  .navbar .menu.show-menu {
    display: flex;
    position: absolute;
    background: rgb(0, 0, 0);
    width: 100%;
    top: 9vh;
    z-index: 10000;
    animation: height 1s;
    -webkit-animation: height 1s;
    overflow: hidden;
  }
  @keyframes height {
    0% {
      height: 0;
    }
    100% {
      height: 270px;
    }
  }
  .navbar .menu.show-menu ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar .menu.show-menu ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 5px 0px;
    border-bottom: 1px solid rgb(219, 219, 219);
  }
  .navbar .menu.show-menu ul li a,
  .navbar .menu.show-menu ul li span {
    font-size: 20px;
  }
  .navbar .social ul a {
    font-size: 30px;
  }

  .navbar .menu ul li .mega-menu {
    position: absolute;
    height: 0px;
    opacity: 0;
    top: -57px;
    right: 162px;
    width: 87%;
    background-color: rgb(83, 54, 54);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start !important;
    flex-wrap: nowrap !important;
    flex-direction: row !important;
  }
  .navbar .menu.show-menu ul li {
    border-bottom: none !important;
  }
  #mega-menu-pic {
    display: none;
  }
  .navbar .menu ul li:hover .mega-menu {
    height: 350px;
    opacity: 1;
  }
}
@media screen and (max-width: 790px) {
  .navbar .social ul a {
    font-size: 25px;
  }

  .navbar .menu ul li .mega-menu {
    width: 85%;
  }
  .navbar .menu ul li .mega-menu li h2 {
    font-size: 15px;
  }
  .navbar .menu ul li .mega-menu li ul li {
    font-size: 12px;
  }
  .navbar .menu ul li .mega-menu {
    right: 100px;
  }
}
@media screen and (max-width: 567px) {
  .navbar .social {
    width: 50%;
    margin-left: 10px;
  }
  .navbar .social ul a {
    font-size: 20px;
  }
  .navbar .menu ul li .mega-menu {
    width: 75%;
  }
}
@media screen and (max-width: 438px) {
}
