footer {
  background: #000;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
}
footer .footer-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  border-bottom: 2px solid rgb(53, 53, 53);
  margin-bottom: 50px;
  padding-bottom: 50px;
}
footer .footer-top .foter-aboutUs {
  width: 33%;
}
footer .footer-top .foter-aboutUs h3 {
  text-align: center;
  margin-bottom: 20px;
}
footer .footer-top .foter-aboutUs p {
  text-align: justify;
}
footer .footer-top .foter-socials {
  width: 20%;
}
footer .footer-top .foter-socials h3 {
  margin-bottom: 40px;
  text-align: center;
}
footer .footer-top .foter-socials .foter-socials-items {
  display: flex;
  justify-content: center;
}

footer .footer-top .foter-socials .foter-socials-items li a {
  margin: 10px;
  color: #fff;
  font-size: 30px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
footer .footer-top .foter-socials .foter-socials-items li a:hover {
  color: #c00;
}
footer .footer-top .foter-latestNews {
  width: 30%;
}
footer .footer-top .foter-latestNews h3 {
  text-align: center;
  margin-bottom: 25px;
}
footer .footer-top .foter-latestNews form {
  width: 100%;
}
footer .footer-top .foter-latestNews form input {
  width: 70%;
  padding: 14px;
  font-size: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  outline: none;
}
footer .footer-top .foter-latestNews form button {
  width: 20%;
  padding: 15px;
  background: #c00;
  color: #fff;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
footer .footer-top .foter-latestNews form button:hover {
  background: red;
}
footer .footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .footer-bottom .foter-services {
  width: 20%;
  text-align: right;
}
footer .footer-bottom .foter-services h3 {
  margin-bottom: 35px;
}
footer .footer-bottom .foter-services h5 {
  margin: 20px 0;
}

footer .footer-bottom .foter-withUs {
  width: 20%;
  text-align: right;
}
footer .footer-bottom .foter-withUs h3 {
  margin-bottom: 35px;
}
footer .footer-bottom .foter-withUs h5 {
  margin: 20px 0;
}

footer .footer-bottom .foter-address {
  display: flex;
  flex-direction: column;
  width: 40%;
}
footer .footer-bottom .foter-address .email-number {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
footer .footer-bottom .foter-address .symbols {
  width: 100%;
  display: flex;
}
footer .footer-bottom .foter-address .symbols img {
  width: 33%;
  height: 80%;
}
footer .footer-bottom .foter-logo {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* -------------------responsive-------------------- */
@media screen and (max-width: 1200px) {
  footer .footer-top .foter-latestNews {
    width: 35%;
  }
  footer .footer-top .foter-latestNews form input {
    width: 70%;
    padding: 8px;
  }
  footer .footer-top .foter-latestNews form button {
    width: 20%;
    padding: 14px;
    font-size: 15px;
  }
  footer .footer-top .foter-aboutUs p {
    font-size: 12px;
  }
  footer .footer-bottom .foter-address .email-number {
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  footer .footer-top {
    flex-wrap: wrap;
  }
  footer .footer-top .foter-aboutUs {
    width: 50%;
    margin-right: 20px;
  }
  footer .footer-top .foter-socials {
    width: 33%;
  }
  footer .footer-top .foter-latestNews {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  footer .footer-top .foter-socials .foter-socials-items li a {
    margin: 3px;
  }
  footer .footer-bottom {
    flex-wrap: wrap;
  }
  footer .footer-bottom .foter-services {
    width: 50%;
    text-align: center;
  }
  footer .footer-bottom .foter-withUs {
    width: 50%;
    text-align: center;
  }
  footer .footer-bottom .foter-address {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    border-top: 2px solid rgb(53, 53, 53);
    padding-top: 30px;
  }
  footer .footer-bottom .foter-address .symbols {
    width: 50%;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  footer .footer-top .foter-latestNews form button {
    padding: 11px;
    font-size: 12px;
  }
  footer .footer-top .foter-latestNews form input {
    padding: 5px;
  }
  footer .footer-top .foter-socials {
    width: 40%;
  }
}
@media screen and (max-width: 567px) {
  footer .footer-top .foter-socials .foter-socials-items {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 400px) {
  footer .footer-top .foter-aboutUs {
    width: 100%;
    margin: 20px;
  }
  footer .footer-top .foter-socials {
    width: 100%;
    margin: 20px;
  }
  footer .footer-bottom .foter-address {
    margin: 20px;
  }
}
